.output{height: 300px;
    overflow: auto;}

/* 全体 */
.sb-box {
    position: relative;
    overflow: hidden;
  }
  /* アイコン画像 */
  .icon-img {
    position: left;
    overflow: hidden;
    top: 0; /* 画像の位置を上から0に */
    width: 160px; /* 画像の幅 */
    height: 160px; /* 画像の高さ */
  }
  /* アイコン画像（左） */
  .icon-img-left {left: 0;}
.icon-img img {
        border-radius: 50%; /* 画像を丸く表示する */
        border: 2px solid #eee;} /* 画像の縁取りの太さとカラー */

.sb-side {
    position:center;
    float: center;
    margin: 0 105px 40px 105px; /* 吹き出しの上下左右の余白 */
  }

.sb-txt {
        position: relative;
        border: 2px solid #eee; /* 吹き出しの縁取りの太さとカラー */
        border-radius: 6px; /* 吹き出しを角丸に */
        background: #fff; /* 吹き出しの背景色 */
        color: #333; /* 吹き出し内のテキストのカラー */
        font-size: 15px; /* 吹き出し内のフォントサイズ */
        line-height: 1.7; /* 吹き出し内のテキストが2行以上になった時の行間 */
        padding: 18px; /* 吹き出し内の上下左右の余白 */
      }
.sb-txt > p:last-of-type {
        padding-bottom: 0; /* 吹き出し内のテキストを改行した場合、最後のpタグにpadding-bottomをつけない */
        margin-bottom: 0; /* 吹き出し内のテキストを改行した場合、最後のpタグにmargin-bottomをつけない */
      }
/* 吹き出しの三角 */
.sb-txt:before {
    content: "";
    position: absolute;
    border-style: solid;
    top: 30
    px; /* 吹き出し内の三角の位置 */
    z-index: 3;
  }
  .sb-txt:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: 15px; /* beforeより-1px */
    z-index: 2; /* beforeより-1 */
  }

  /* 吹き出しの三角（左） */
.sb-txt-left:before {
    left: -7px;
    border-width: 7px 10px 7px 0;
    border-color: transparent #fff transparent transparent; /* 背景色と同じカラーに */
  }
  .sb-txt-left:after {
    left: -10px; /* beforeより-3px */
    border-width: 8px 10px 8px 0; /* beforeより上下+1px */
    border-color: transparent #eee transparent transparent; /* 縁取りと同じカラーに */
  }